{% extends 'layouts/base.html' %}
{% block base %}
<div id="container">
	<header>
		<h1>Contacts</h1>
	</header>
	<ul id='contacts'>
		<!-- could have gotten away with using :nth-child(odd) but older brosers don't support, was easy enought o solve in django --> 
		{% for contact in contacts %}
		<li class='contact {% cycle 'odd' 'even' %}' data-email='{{contact.email|truncatechars:24}}' data-phone='{{contact.phone}}'>
			<!-- i could have used a pseudo element here, but i didn't want to not support older browsers... -->
			<span class="dot {{contact.color}}"></span>
			<div class="name">
				{{contact.name|truncatechars:10}}
			</div>
			{# could have used a pseudo element, but trying to be nice to older browsers... #}
			<div class="selected-info">{{contact.email|truncatechars:24}}</div>
			<div class="detail">
				<a class='email' target="_blank" href="mailto:{{contact.email}}">{{contact.email}}</a>
				<div class="phone">
					{{contact.phone}}
				</div>
				<address>
					{{contact.address|safe}}
				</address>
			</div>
		</li>
		{% endfor %}
	</ul>
	<footer>
		{# value of selects must be the same as the data-[attribute] value #}
		<select name="filter" id="filter">
			<option value="email">Email address</option>
			<option value="phone">Phone number</option>
		</select>
	</footer>
</div>
{% endblock %}