
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name = "viewport" content="width = 300">
		<title>Red Skills Assessment</title>
		<script src="{{RESOURCES_URL}}resources/js/modernizr.custom.98709.js"></script>
		<link rel="stylesheet" href="{{RESOURCES_URL}}resources/css/styles.css" />
	</head>
	<body>
		{% block base %}
		{% endblock %}
		<script src="{{RESOURCES_URL}}resources/js/jquery-1.7.1.min.js"></script>
		<script src="{{RESOURCES_URL}}resources/js/main.js"></script>
	</body>
</html>